html,
body {
    height: 100%;
    background-color: #f2f2f2 !important;
    // background-image: url(https://img.imsyy.top/bg/light/leaves-pattern.png);
    background-attachment: fixed;
    transition: .3s;
    font-family: HarmonyOS_Regular, sans-serif !important;
}
#__nuxt{
    height: 100%;
}